@*@{
        ViewData["Title"] = "Development Lifecyle Information";
    }*@
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>
    This website containts two pages 'BMI Calculator' and 'Retirement Calculator' which are designed
    to calculate body mass index and an age<br />
    at which one can retire respective to the inputs submitted.
    Below are the intructions for operating these calculators.
</p>
<br />

<h4>BMI Calculator</h4>
<h5>Input Values</h5>
<p style="margin-left: 40px">Enter your height in feet and in inches separately</p>
<p style="margin-left: 40px">-Note: feet must be a positive integer value</p>
<p style="margin-left: 40px">-Note: inches must be a positive integer value between 0-12 inclusive</p>
<p style="margin-left: 40px">Enter your weight in pounds</p>
<p style="margin-left: 40px">-Note: weight must be a positive integer value</p>
<h5>Submit and Calculate</h5>
<p style="margin-left: 40px">Once all values are entered click the 'Calculate' button</p>
<p style="margin-left: 40px">
    -Note: if the values are unacceptable, a message will<br />
    appear and your BMI will not be calculated</p>
<h5>View Result</h5>
<p style="margin-left: 40px">Your result BMI and category will be displayed at the top of the screen</p>

<br />
<h4>Retirement Calculator</h4>
<h5>Input Values</h5>
<p style="margin-left: 40px">Enter your age, salary, percentage of salary saved, and savings goal separately</p>
<p style="margin-left: 40px">-Note: age must be a positive interger between 0-99 inclusive</p>
<p style="margin-left: 40px">-Note: salary must be a positive integer</p>
<p style="margin-left: 40px">
    -Note: percent saved must be a positive integer between 0-100 inclusive<br />
    (do not enter the percent '%' symbol)
</p>
<p style="margin-left: 40px">-Note: savings goal must be a positive interger</p>
<h5>Submit and Calculate</h5>
<p style="margin-left: 40px">Once all values are entered click the 'Calculate' button</p>
<p style="margin-left: 40px">
    -Note: if the values are unacceptable, a message will<br />
    appear and your Retirement Age will not be calculated</p>
<h5>View Result</h5>
<p style="margin-left: 40px">Your result Retirement Age and whether you<br />
    will meet your goal or not will be displayed at the top of the screen</p>