
@{
    ViewData["Title"] = "Body Mass Index Calculator";
}

<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>


<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <form action="/Home/BMI" method="post">
        <div>
            Feet: <input type="number" name="heightFeet" value="" min="0" max="12" /><br /><br />
            Inches: <input type="number" name="heightInches" value="" min="0" max="12" /><br /><br />
            Weight: <input type="number" name="weightPounds" value="" min="0" max="999" /><br /><br />
            <input type="submit" value="Calculate" />
        </div>
    </form>
</body>
</html>
