@*@{
    ViewData["Title"] = "Home Page";
}*@

<div class="jumbotron">
    <h1>Assignment 3</h1>
    <p class="lead">
        The functionality from previous assignments have been augmented to be accesable
        via a web interface using the ASP.NET Core Framework. Deployed to the internet via Microsoft Azure App Service.
    </p>
    <p><a asp-action="BMI" class="btn btn-primary btn-lg">Get Started &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Documentation</h2>
        <p>
            View the full assignment documentation on Github. Including the submission report outlining specifications on how the project was developed
            and tested, and how it is continously deployed.
        </p>
        <p><a class="btn btn-default" id="body-documentation-redirect" href="https://github.com/Mark-Hodge/SWTestingQA/blob/master/README.md">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Source Code</h2>
        <p>View the full source code on GitHub.</p>
        <p><a class="btn btn-default" id="body-sourcecode-redirect" href="https://github.com/Mark-Hodge/SWTestingQA">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Instructions</h2>
        <p>See the instructions for calculating both your Body Mass Index and your Retirement Age.</p>
        <p><a asp-action="About" id="body-instructions-redirect" class="btn btn-default">Learn more &raquo;</a></p>
    </div>
</div>