@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Assignment 3</h1>
    <p class="lead">The functionality from previous assignments have been augmented to be accesable
    via a web interface using the ASP.NET framework. Deployed onto AWS with Elastic Beanstalk PipeLine Test Five.</p>
    <p><a href="https://github.com/Mark-Hodge/SWTestingQA" class="btn btn-primary btn-lg">Get Started &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Documentation</h2>
        <p>
            View full assignment documentation on Github. Including submission report outlining specifications on how the project was developed,
            tested, and deployed.
        </p>
        <p><a class="btn btn-default" href="https://github.com/Mark-Hodge/SWTestingQA">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Source Code</h2>
        <p>View the full source code on GitHub.</p>
        <p><a class="btn btn-default" href="https://github.com/Mark-Hodge/SWTestingQA">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Pipeline Tools</h2>
        <p>See all the tools/products/services used in this project.</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>